<div class='container'>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <script src="https://embed.github.com/view/geojson/billmills/resbaz-site/gh-pages/{{map}}"></script>
            <p>A map of the local venue.</p>
        </div>
    </div>
</div>
